.complaint-card {
    max-width: 400px;
    background: #ffffff;
    margin: 10px auto;
    border: 1px solid #000000;
  }
  
.complaint-form {
    display: flex;
    flex-direction: column;
  }

  .example-header-image {
    background-image: url('../../../assets/images/complaint.png');
    background-size: cover;
    border: 1px solid #000000;
    width: 50px;
    height: 50px;
  }

  .mat-card-actions {
    margin-left: 25%;
  }